<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Hubballi&family=Montserrat:wght@200&family=Orbitron&family=Oswald:wght@400;700&family=Roboto:wght@100&display=swap"
  rel="stylesheet"
/>

<div class="container">
  <strong>
    <br />
    <h1 class="display-1 text-center text-xl-center">
      Aquí podras encontrar información sobre todos los Digimones en dos vistas
      diferentes <br />
      ¡Ve al menu! <i class="bi bi-emoji-heart-eyes"></i></h1
  ></strong>
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYN8tRYH93VlwA1YQu0UABe9p_eDg1HTawCg&usqp=CAU"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
